// Custom rules
$border-radius : 50%;
.rtc-panel{
    .x-tool-expand-right:before{
        content: '\f0d9' !important;
    }
}
.rtc-container {
    text-align: center;
    margin-top: 40px;
}

.rtc-avatar-container {
    height: 300px;
}

.rtc-avatar {
    border-radius: $border-radius;
    width: 100px !important;
    margin: 0 auto !important;
    display: block;
    position: relative !important;
}

.rtc-icons {
    border-radius: $border-radius;
    margin-right: 10px;
    width: 35px;
}

.rtc-icons-big {
    border-radius: $border-radius;
    .x-fa:before {
        margin-left: -7px;
    }
}

.rtc-btns-container {
    text-align: center;
}

.rtc-chat-tbar {
    .x-tab-bar {
        display: none;
    }
}

.rtc-digit {
    .x-btn-inner-default-small {
        font-size: 16px;
    }
}

.rtc-title-call-initiation {
    .x-panel-header {
        background: #a65048;
        .x-tool-tool-el {
            background: #a65048;
        }
    }
}

.rtc-decline-call {
    background: red !important;
    border-color: #db0404 !important;
    &:after {
        font-family: FontAwesome;
        content: "\f05e";
        padding-left: 18px;
        color: #F1F1F1;
        position: relative;
        top: -18px;
    }
}

.rtc-decline-call-pressed {
    background: #db0404 !important;
    border-color: #db0404 !important;
}

.rtc-incoming-label,
.rtc-incoming-number {
    margin: 0 auto;
}

.rtc-incoming-label,
.rtc-outgoing-label {
    font-size: 16px;
    .x-autocontainer-innerCt {
        font-size: 16px;
    }
}

.rtc-incoming-number {
    .x-autocontainer-innerCt {
        font-size: 24px;
    }
}

.rtc-button-margin {
    margin: 0 50px 0 0;
}

.call-button {
    border-radius: 50%;
    background-color: #16b603;
    color: white;
    border-width: 0;
}

.call-button * {
    font-size: 22px;
}

.call-button .icon-large {
    font-size: 22px;
    position: absolute;
    bottom: 0px;
    left: 2px;
}

.call-button .icon-small {
    font-size: 11px;
    position: absolute;
    top: 2px;
    right: 3px;
}

.call-button-cancel {
    background-color: red;
}

.call-button-accept {
    background-color: forestgreen;
}

.call-icon-cancel {
    position: absolute;
    transform: rotate(135deg);
    font-size: 22px;
    top: 2px;
    left: 4px;
}

.call-button-cancel.x-btn.x-btn-pressed,
.call-button-cancel-focus,
.call-button-cancel-over {
    background-color: darkred;
}

.call-button-accept.x-btn.x-btn-pressed,
.call-button-accept-focus,
.call-button-accept-over {
    background-color: darkgreen;
}

#call-local-preview {
    width: 100%;
}

.x-panel-body-default {
    label.call-number-label {
        font-size: 16px;
        font-weight: bold;
    }
}
