// Custom rules
$border-radius : 50%;
.rtc-panel{
    .x-tool-expand-right:before{
        content: '\f0d9' !important;
    }
}
.rtc-container {
    text-align: center;
    margin-top: 40px;
}

.rtc-avatar-container {
    height: 300px;
}

.rtc-avatar {
    border-radius: $border-radius;
    width: 100px !important;
    margin: 0 auto !important;
    display: block;
    position: relative !important;
}

.rtc-icons {
    border-radius: $border-radius;
    margin-right: 10px;
    width: 35px;
}

.rtc-icons-big {
    border-radius: $border-radius;
    .x-fa:before {
        margin-left: -7px;
    }
}

.rtc-btns-container {
    text-align: center;
}

.rtc-chat-tbar {
    .x-tab-bar {
        display: none;
    }
}

.rtc-digit {
    .x-btn-inner-default-small {
        font-size: 16px;
    }
}

.rtc-title-call-initiation {
    .x-panel-header {
        background: #a65048;
        .x-tool-tool-el {
            background: #a65048;
        }
    }
}

.rtc-decline-call {
    background: red !important;
    border-color: #db0404 !important;
    &:after {
        font-family: FontAwesome;
        content: "\f05e";
        padding-left: 18px;
        color: #F1F1F1;
        position: relative;
        top: -18px;
    }
}

.rtc-decline-call-pressed {
    background: #db0404 !important;
    border-color: #db0404 !important;
}

.rtc-incoming-label,
.rtc-incoming-label .x-autocontainer-innerCt {
    font-size: 16px
}

.rtc-incoming-number .x-autocontainer-innerCt {
    font-size: 24px;
    padding-top: 1px;
}

// TODO: Consolidate into nested SASS

.rtc-incoming-label span {
    font-size: 24px;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.rtc-incoming-label span:nth-child(2) {
    animation-delay: .2s;
}

.rtc-incoming-label span:nth-child(3) {
    animation-delay: .4s;
}

@keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}
