// Custom rules

$border-radius : 50%;
.rtc-panel{

    .x-tool-expand-right:before{
        content: '\f0d9' !important;
    }
}
.rtc-container {
    text-align: center;
    margin-top: 40px;
}

.rtc-avatar-container {
    height: 300px;
}

.rtc-avatar {
    border-radius: $border-radius;
    width: 100px !important;
    margin: 0 auto !important;
    display: block;
    position: relative !important;
}

.rtc-icons {
    border-radius: $border-radius;
    margin-right: 10px;
    width: 35px;
}

.rtc-icons-big {
    border-radius: $border-radius;
    .x-fa:before {
        margin-left: -7px;
    }
}

.rtc-btns-container {
    text-align: center;
}

.rtc-chat-tbar {
    .x-tab-bar {
        display: none;
    }
}

.rtc-digit {
    .x-btn-inner-default-small {
        font-size: 16px;
    }
}

.rtc-title-call-initiation {
    .x-panel-header {
        background: #a65048;
        .x-tool-tool-el {
            background: #a65048;
        }
    }
}

.call-button * {
    font-size: 22px;
}

.call-button {
    border-radius: 50%;
    background-color: #16b603;
    color: white;
    border-width: 0;
    .icon-small {
        font-size: 11px;
        position: absolute;
        top: 2px;
        right: 3px;
    }
    .icon-large {
        font-size: 22px;
        position: absolute;
        bottom: 0px;
        left: 2px;
    }

    .icon-normal {
        display: block;
        font-size: 16px;
        line-height: 18px;
        width: 100%;
    }
}


.call-button-cancel,
.call-button-close {
    background-color: red;
}

.call-button-accept {
    background-color: forestgreen;
}

.call-icon-cancel,
.call-icon-close {
    position: absolute;
    font-size: 22px;
}

.call-icon-cancel {
    transform: rotate(135deg);
    top: 2px;
    left: 4px;
}

.call-icon-close {
    top: 0px;
    left: 5px;
}

.call-button-close .x-btn .x-btn-pressed,
.call-button-close-focus,
.call-button-close-over,
.call-button-cancel .x-btn .x-btn-pressed,
.call-button-cancel-focus,
.call-button-cancel-over {
    background-color: darkred;
}

.call-button-accept .x-btn .x-btn-pressed,
.call-button-accept-focus,
.call-button-accept-over {
    background-color: darkgreen;
}

#call-local-preview {
    width: 100%;
}

.x-panel-body-default {
    label.call-number-label {
        font-size: 16px;
        font-weight: bold;
    }
}

.x-panel-call .x-panel-body {
    background-color: #32404E;
    color: white;
}

.x-btn.call-button-accept.call-button-disabled {
    background-color: #9e9f9f;
    color: white;
}
