$circle-border-radius:50%;
$base-border-color: #ddd;
$lightest-color:#fff;
$font-weight: 400;
$font-weight-bold: 500;

$accordion-header-background-color: $lightest-color;
$accordion-header-color: #333;

// custom vars
$console-msg-font-size: 16px;

$default-menu-item-color: #858585;
$online-menu-item-color: #86c747;
$offline-menu-item-color: #9e9f9f;
