// Custom rules

.webrtc-container {
    text-align: center;
    margin-top: 40px;
}

.webrtc-avatar-container {
    height: 300px;
}

.webrtc-avatar {
    border-radius: 50%;
    width: 100px !important;
    margin: 0 auto !important;
    display: block;
    position: relative !important;
}

.webrtc-icons {
    border-radius: 50%;
    margin-right: 10px;
    width: 35px;
}

.webrtc-btns-container {
    text-align: center;
}

.webrtc-chat-tbar {
    .x-tab-bar {
        display: none;
    }
}
