.webrtc-container {
    text-align: center;
    margin: 20px;
}

.webrtc-avatar {
    border-radius: 50%;
    width: 200px !important;
    left: 25% !important;
}

.webrtc-icons {
    border-radius: 50%;
    margin-right: 10px;
    width: 35px !important;
}

.webrtc-btns-container {
    left: 34% !important;
}
