// Custom rules

.webrtc-container {
    text-align: center;
    margin-top: 40px !important;
}

.webrtc-avatar-container {
    height: 300px;
}

.webrtc-avatar {
    border-radius: 50%;
    width: 150px !important;
    margin: 20px 0 0 60px !important;
}

.webrtc-icons {
    border-radius: 50%;
    margin-right: 10px !important;
    width: 35px !important;
}

.webrtc-btns-container {
    left: 34% !important;
    margin-top: 30px !important;
}
