.devices {
    .x-panel-body {
        background: white;
    }
    .device-img {
        display: block;
    }

    .circle-number {
        position:absolute;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        border: 2px #fff;
        color: #fff;
        text-align: center;
        font-size: 12px;
    }
    .assigned-button {
        @extend .circle-number;
        background: red;
    }
    .free-button {
        @extend .circle-number;
        background: #CCCC00;
    }
    .button-info {
        position: absolute;
        background: white;
        padding: 0px 5px 0 5px;
        z-index: 1;
        min-width: 60px;
        font-size: 11px;
    }
    .button-info-assigned {
        @extend .button-info;
        border: 1px solid red;
    }
    .button-info-unassigned {
        @extend .button-info;
        border: 1px solid #CCCC00;
    }
    .connection-left-right {
        margin-top: 5px;
        position: absolute;
        background-color:rgba(255,0,0,0);
    }
    .connection-left-right-assigned {
        @extend .connection-left-right;
        border-top: 1px solid red;
    }
    .connection-left-right-unassigned {
        @extend .connection-left-right;
        border-top: 1px solid #CCCC00;
    }
    .connection-top-bottom {
        position: absolute;
        background-color:rgba(255,0,0,0);
    }
    .connection-top-bottom-assigned {
        @extend .connection-top-bottom;
        border-left: 1px solid red;
    }
    .connection-top-bottom-unassigned {
        @extend .connection-top-bottom;
        border-left: 1px solid #CCCC00;
    }
    .edit-panel {
        background: #F6F6F6;
    }
    .seat-name {
        margin-left: 20px;
    }
    .x-btn-group-default-framed {
        border-color: #F6F6F6;
        border-width: 0px;
    }
    .devices-seat-fieldset {
        border: 1px solid red !important;
    }
}
