/* mixins */
@include extjs-panel-ui ( $ui: 'cf-container', );
@include extjs-panel-ui ( $ui: 'cf-widget', );
@include extjs-panel-ui ( $ui: 'cf-mainform', );
@include extjs-panel-ui ( $ui: 'cf-grid', );
@mixin icon($icon) {
    @include fa-icon;
    @extend .fa;
    @extend .fa-#{$icon}:before;
};

/* custom css */
/* 1. CallForwardMainForm */
.x-panel-cf-mainform {
    #busyFirstDest-labelTextEl,
    #offlineFirstDest-labelTextEl,
    #onlineFirstDest-labelTextEl,
    .cf-formtext {
        font-weight: 600;
        margin-bottom: 7px;
    }
}

.x-panel-cf-mainform .cf-formtext:nth-child(2n+1) {
    margin: 10px 20px 0 0;
}

.x-panel-cf-mainform .cf-subheader {
    padding-top: 20px;
}

.x-panel-cf-mainform {
    #busyFirstRingFields,
    #offlineFirstRingFields,
    #onlineFirstRingFields {
        margin-bottom: 10px;
    }
}

/* 2. CallForwardMainForm segmented buttons */
.x-panel-cf-mainform .x-segmented-button .x-btn-button-default-small {
    display: inline-block;
}

.x-panel-cf-mainform .x-segmented-button .x-btn-icon-el-default-small {
    float: right;
}

.x-panel-cf-mainform .x-segmented-button .x-btn-inner-default-small {
    float: left;
}

.x-panel-cf-mainform .x-segmented-button {
    white-space: nowrap;
}

.x-panel-cf-mainform .x-segmented-button:first-child {
    // margin-bottom: 10px;
}

.x-panel-cf-mainform .x-segmented-button-item-horizontal {
    display: inline-block;
    width: 32%;
    height: 35px;
    margin-right: 5px;
    margin-left: 5px;
}

.x-panel-cf-mainform .x-segmented-button-item-horizontal.x-segmented-button-first {
    margin-left: 10px;
}

.x-panel-cf-mainform .x-segmented-button-item-horizontal.x-segmented-button-last {
    margin-right: 0;
}

.x-panel-cf-mainform .cf-embed-row {
    margin-left: 10px;
}

// TODO: Try adjusting width %, and see if you can eliminate need for padding
.x-panel-cf-mainform .cf-embed-row .x-autocontainer-innerCt {
    display: block;
}

.x-panel-cf-mainform .cf-embed-row #alwaysButtonBelow,
.x-panel-cf-mainform .cf-embed-row #everybodyButtonBelow {
    padding-right: 9px;
}

.x-panel-cf-mainform .cf-embed-row #afterHoursButtonBelow,
.x-panel-cf-mainform .cf-embed-row #listAButtonBelow {
    padding-left: 1px;
    padding-right: 8px;
}

.x-panel-cf-mainform .cf-embed-row #companyHoursButtonBelow,
.x-panel-cf-mainform .cf-embed-row #listBButtonBelow {
    padding-left: 2px;
    padding-right: 8px;
}

/* 2. CallForwardMainForm grid */
.x-panel-cf-mainform div.x-grid-empty::before {
    @include icon(circle);
    font-size: 0.7em;
    margin: 0 4px;
}

.x-panel-cf-mainform .x-grid-empty {
    margin-top: -2px;
    color: black;
}

.x-panel-cf-mainform .x-grid-row {
    background: white;
}

.x-panel-cf-grid .x-grid-cell-inner {
    padding-top: 7px;
    margin: 0;
}

.x-panel-cf-mainform .cf-tpl-fa,
.x-panel-cf-grid .cf-tpl-fa {
    font-size: 0.7em;
    margin: 0 4px;
}

.x-panel-cf-grid .x-grid-row {
    height: 32px;
}

/* 2. CallForwardMainForm other */
.x-panel-cf-widget {
    border: solid 1px;
    border-color: #d0d0d0;
    padding: 20px 10px;
}

.cf-deactivate-day {
    color: #B4B8B3;
}

.cf-title {
    font-size: 110%;
    font-weight: 600;
}
