@mixin btn-border($background-color){
  background-color: $background-color;
  border-color: $background-color !important;
  .x-btn-inner-default-toolbar-small{
    color: $lightest-color;
  }
  &:hover{
    .x-btn-inner-default-toolbar-small,.x-btn-inner-default-small{
      color: $background-color;
    }
    .x-btn-icon-el-default-small,.x-btn-icon-el-default-toolbar-small{
      color: $background-color;
    }
    background-color: transparent;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($h-shadow,$v-shadow,$blur,$spread,$shadow-color) {
  $value: $h-shadow, $v-shadow, $blur, $spread, $shadow-color;
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  -ms-box-shadow: $value;
  box-shadow: $value;
}

*:focus {
  outline:0 !important;
}

.x-menu-header {
  z-index: 0 !important;
}

.x-css-shadow{
  box-shadow:none !important;
}

.x-fa {
  display: inline-block;
  font: normal normal normal 14px/1 $font-family;
}

.alignRight {
  float: right;
}

.boldFont {
  font-weight: bold;
}

// adding custom callforward styles here, as using /src/view/ does not work
.callforward-heading {
    font-size: 24px;
},

.ngcp-small-card {
    display: inline-block;
    width: 380px;
    height: 120px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    margin: 10px;
    float: left;
}

// I need to create a parent div that can handle nth-child margins
// .ngcp-small-card:nth-child(4n+4) { margin-left: 20px; }

.ngcp-card-headline {
    font-size: 20px;
    padding: 15px;
}

.ngcp-card-p {
    font-size: 17px;
    padding: 15px;
}
