// mixins
@include extjs-toolbar-ui(
    $ui: 'callblocking-tbar',
    $background-color: '#F6F6F6'
);

// custom rules
.x-toolbar-callblocking-tbar .callblocking-header .x-autocontainer-innerCt {
    color: $base-color;
    font: 500 14px/18px var(--font-family);
}

.toggle-section {
    .x-fa {
        color: $base-color;
    }
    .toggle-prefix {
        margin-right: 10px;
    }
    .toggle-suffix {
        margin-left: 10px;
    }
    .grey {
        color: grey;
    }
    .toggle-icon {
        display: inline;
    }
}
