.shadow {
    @include box-shadow(0 1px 2px 0 rgba(0,0,0,0.2));
}

.circular {
    border-radius: 50%;
}

#login-title-body {
    text-align: center;
    font-size: 1.5em;
}

.login-container {
    background: url("/resources/images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
