// custom rules

.huntgroup-heading {
    font-size: 24px;
}

.contact-wrapper {
    .content {
        width: 30%;
        float: left;
        margin-left: 40px;

        .short-label {
            width: 50px;
            float: left;
        }

        .label {
            width: 80px;
            float: left;
        }
    }
}
