// using CSS Variables feature
// http://docs.sencha.com/extjs/6.2.1/guides/whats_new/whats_new.html#whats_new-_-whats_new_-_css_variables

$base-color: dynamic(rgb(102, 166, 72));
$body-background-color: dynamic(white) ;
$color: dynamic(black);
$font-family: dynamic('Open Sans', 'Helvetica Neue');
$font-size: dynamic(13px);
$font-weight: dynamic('normal');

$enable-font-icons : true;

html {
    --base-color: export;
    --body-background-color: export;
    --color: export;
    --font-family: export;
    --font-size: export;
    --font-weight: export;
}
