@include extjs-panel-ui(
    $ui: 'core-grid-cards'
);

$row-expander-expand-glyph : '';
$row-expander-collapse-glyph: '';
$grid-row-cell-focus-border-color: '#fff';

.x-grid-cell-special{
    border-right-width: 0px;
}
.x-panel-core-grid-cards {
    margin: 10px 10px 10px 15px;

    .x-grid-row td {
        cursor: pointer;
    }

    .x-grid-item {
        table-layout: auto;
        border: 1px solid lightgray;
        margin-bottom: 3px;
        border-radius: 5px;
        margin-right: 11px;
    }

    .x-grid-td {
        overflow: hidden;
        border-width: 0;
        vertical-align: middle;
    }

    .x-grid-row-expander:before {
        font-size: 20px;
        position: relative;
        bottom: 2px;
    }
}

.card-grid {
    .x-grid-body {
        border-width: 0;
    }
}

.card-wrapper {
    float: left;
    width: 100%;
    color: $base-color;

    .img-row {
        position:relative;
        padding: 20;
        img {
            width: 100%;
        }
        .number-circle {
            position:absolute;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            padding: 4px;
            background: #fff;
            border: 2px solid $base-color;
            color: $base-color;
            text-align: center;
            font-size: 16px;
        }
    }

    .fa {
        margin-right: 10px;
        color: $base-color;
    }

    .fa:before {
        padding: 0 10px 0 0;
    }

    .card-data-row {
        padding: 7px;
        margin: 0 10px;
        width: 100%;
        color: #606060;
    }

    .card-icon-row {
        text-align: center;
        padding: 20px;
        margin: 0 auto;
        width: 100%;

        .card-icon {
            display: inline;
            padding: 40px;
        }
    }

}
