@include extjs-panel-ui( $ui: 'core-grid-cards' );

.x-panel-core-grid-cards {
    margin: 10px;

    .x-grid-item {
        table-layout: auto;
        border: 1px solid lightgray;
        margin-bottom: 3px;
        border-radius: 5px;
    }

    .x-grid-td {
        overflow: hidden;
        border-width: 0;
        vertical-align: middle;
    }

    .x-grid-row-expander:before {
        font-size: 20px;
        position: relative;
        bottom: 2px;
    }
}
