// mixins
@include extjs-toolbar-ui(
    $ui: 'pbxconfig-tbar',
    $background-color: '#F6F6F6'
);

.pbx-widget-grid {
    .x-box-inner,
    .x-grid-item-selected,
    .x-grid-item-over,
    .card-icon-row {
        background: white;
        .hidden {
            display: none;
        }
    }

    .pbx-data-value {
        color: #606060;
        font-weight: bold;
    }
    .x-grid-cell-inner {
        font-size: 15px;
        margin-left: -10px;
    }

    .x-box-item {
        .x-panel-body,
        label {
            background: white;
        }
    }

    .pbx-hunt-labels-and-fields {
        display: inline-block;
        float: left;
    }

    .pbx-margin-top {
        margin-top: 5px !important;
    }
}
