/*
 * This file defines variables used throughout the application for modern and
 * classic builds.
 */

$panel-navigation-background-color: #32404e;
$panel-navigation-item-line-height: 36px; // max height to fit the smallest supported screen ( 19 tree nodes in tablet landscape view)
$panel-navigation-item-text-color: #ADB3B8;

$progress-bar-background-color: #458fd2;

//Form and Toolbar Button UI colors

$color-blue: #167abc;
$color-soft-cyan: #03b4d5;
$color-soft-blue: #2eadf5;
$color-soft-green: #9cc96b;
$color-soft-orange: #ffc107;
$color-soft-red: #e44959;
$color-soft-purple: #925e8b;
$color-gray: #949495;
$color-green: #16b603;

$chart-icon-background-color: #f1f1f1;

$grid-item-edit-btn-color: #e9e9e9;
$grid-item-close-btn-color: #fc8999;
$grid-item-ban-btn-color: #ffc000;
$legend-research: #6aa5db;
$legend-marketing: #ee929c;

$force-background-color: #56B750;

//----------------------------------------------------
// Wizards

$wizard-primary-background-color: #579ddb;
$wizard-button-background-color: #579ddb;

$wizard-two-primary-background-color: #986291;
$wizard-two-button-background-color: #925e8b;

$wizard-three-primary-background-color: #9cc96b;
$wizard-three-button-background-color: #9cc96b;

//--------------------------------------------------
// Font Awesome Unicodes
//
// ex. of usage
//  .yourclass:before {
//    font-family: FontAwesome;
//    content: $add-user;
//  }
//
// Every variable should have a correspondent
// entry in ./app/utils/icons/js

$add-user: "\f234";
$angle-left: "\xf104";
$angle-right: "\xf105";
$bell: "\f0f3";
$block: "\f05e";
$book: "\xf02d";
$building: "\xf1ad";
$calendar: '\xf073';
$chevron-left: "\f053";
$chevron-right: "\f054";
$circle: "\xf111";
$cog: "\xf013";
$comment: "\f075";
$desktop: "\xf108";
$double-angle-right: "\f101";
$download: "\f019";
$edit: "\xf044";
$envelope: "\xf0e0";
$envelope_transparent: "\xf003";
$fax:"\xf1ac";
$fax-paper:"\f15c";
$fax-paper-transparent:"\xf0f6";
$filter: "\f0b0";
$floppy: "\f0c7";
$folder: "\f115";
$home: "\xf015";
$key: "\f084";
$lock: "\f023";
$microphone: "\xf130";
$microphone-slash: "\xf131";
$menu: "\xf0c9";
$move: "\f047";
$multichat : "\xf1d7";
$paint-brush: "\f1fc";
$pause: "\xf04c";
$pencil: "\f040";
$play: "\xf04b";
$phone: "\xf095";
$phonesquare: "\xf098";
$send: "\xf1d8";
$star: "\xf005";
$times-circle: "\xf057";
$toggle-off:"xf204";
$toggle-on:"xf205";
$trash: "\f1f8";
$user: "\xf007";
$users: "\xf0c0";
$user-secret: "\f21b";
$video: "\xf03d";
